<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="MemberResultSet" type="Member">
		<result column="user_id" property="userId"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="user_name" property="userName"/>
		<result column="email" property="email"/>
		<result column="gender" property="gender"/>
		<result column="age" property="age"/>
		<result column="phone" property="phone"/>
		<result column="address" property="address"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="status" property="status"/>
	</resultMap>	
		
  <select id="loginMember" resultMap="MemberResultSet" parameterType="Member">
  	<!-- 암호화 처리 전 방식
  	select * from member
  	where status = 'Y' 
  	and user_id= #{userId}
  	and user_pwd = #{userPwd}
  	-->
  	<!-- 암호화 처리 후 방식 (아이디로만 조회!) -->
  	select * from member
  	where status = 'Y' 
  	and user_id= #{userId}
  </select>
  
  <insert id="insertMember">
  	insert into member
  	(user_id,
  	 user_pwd,
  	 user_name,
  	 email,
  	 gender,
  	 age,
  	 phone,
  	 address
  	)
  	values (
  	#{userId},
  	#{userPwd},
  	#{userName},
  	#{email},
  	#{gender},
  	#{age},
  	#{phone},
  	#{address}
  	)
  </insert>
  
  <update id="updateMember" parameterType="Member">
		update member
		set user_Name = #{userName},
		email = #{email},
		age = #{age},
		phone = #{phone},
		address = #{address},
		gender = #{gender},
		modify_date = sysdate
		where user_id = #{userId}
	</update>
	<update id="deleteMember" parameterType="Member">
		update member
		set status = 'N'
		where user_id = #{userId}
	</update>
 
</mapper>
